In [1]:
import pandas as pd
import numpy as np

In [2]:
pre = pd.read_csv('Fall2019.csv')
post = pd.read_csv('Fall2020.csv')

In [3]:
pre

,CLASS,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F
0,"A&O SCI 1 - BIANCHI, D.",0.223,0.330,0.149,0.128,0.053,0.021,0.074,0.011,0.011,0.00,0.000,0.000,0.000
1,"A&O SCI 101 - KOK, J.F.",0.065,0.129,0.194,0.129,0.161,0.065,0.097,0.032,0.097,0.00,0.032,0.000,0.000
2,"A&O SCI 103 - STEWART, A.L.",0.102,0.184,0.163,0.184,0.122,0.082,0.122,0.000,0.041,0.00,0.000,0.000,0.000
3,"A&O SCI 1L - BIANCHI, D.",0.667,0.111,0.056,0.056,0.056,0.000,0.000,0.000,0.056,0.00,0.000,0.000,0.000
4,"A&O SCI 2 - LEW, J.K.",0.000,0.109,0.040,0.059,0.396,0.059,0.050,0.178,0.020,0.01,0.020,0.000,0.059
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2376,"WL ARTS 51W - SHORTER, D.D.",0.283,0.283,0.038,0.075,0.189,0.038,0.038,0.057,0.000,0.00,0.000,0.000,0.000
2377,"WL ARTS 80 - SHARMA, A.",0.100,0.400,0.500,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000
2378,"WL ARTS C182 - SHARMA, A.",0.333,0.222,0.444,0.000,0.000,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000
2379,"WL ARTS CM140 - SHORTER, D.D.",0.091,0.273,0.000,0.000,0.273,0.091,0.000,0.091,0.000,0.00,0.000,0.182,0.000
2380,"WL ARTS M23 - ERNEST, M.A.",0.324,0.622,0.000,0.027,0.027,0.000,0.000,0.000,0.000,0.00,0.000,0.000,0.000

In [4]:
post

,CLASS,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F
0,empty,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,"A&O SCI 1 - NEELIN, J.D.",0.224,0.289,0.158,0.118,0.079,0.039,0.026,0.026,0.000,0.013,0.000,0.013,0.013
2,"A&O SCI 101 - KOK, J.F.",0.097,0.129,0.065,0.290,0.129,0.032,0.065,0.032,0.129,0.000,0.032,0.000,0.000
3,"A&O SCI 103 - STEWART, A.L.",0.174,0.203,0.130,0.087,0.145,0.058,0.043,0.072,0.029,0.000,0.000,0.014,0.043
4,"A&O SCI 1L - NEELIN, J.D.",0.522,0.304,0.000,0.087,0.087,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2321,"WL ARTS C184 - FROOT, D.",0.467,0.467,0.067,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2322,"WL ARTS C242 - SELLARS, P.M.",0.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2323,"WL ARTS CM140 - SHORTER, D.D.",0.105,0.789,0.000,0.053,0.053,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2324,"WL ARTS CM168 - ANDERSON-KOSOKO, J",0.000,0.846,0.000,0.000,0.077,0.077,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2325,"WL ARTS M23 - MAYS, K.T.",0.568,0.351,0.027,0.054,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [36]:
classes = list(pre['CLASS'])+ list(post['CLASS'])

In [37]:
len(set(classes))

3697

In [32]:
pd.concat?

In [24]:
pd.merge?

In [34]:
merge =pd.merge(pre, post, on='CLASS', how='outer')

In [39]:
Falldata = merge.fillna(0)

In [44]:
Falldata

,CLASS,A+_x,A_x,A-_x,B+_x,B_x,B-_x,C+_x,C_x,C-_x,...,B+_y,B_y,B-_y,C+_y,C_y,C-_y,D+_y,D_y,D-_y,F_y
0,"A&O SCI 1 - BIANCHI, D.",0.223,0.330,0.149,0.128,0.053,0.021,0.074,0.011,0.011,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,"A&O SCI 101 - KOK, J.F.",0.065,0.129,0.194,0.129,0.161,0.065,0.097,0.032,0.097,...,0.290,0.129,0.032,0.065,0.032,0.129,0.000,0.032,0.000,0.000
2,"A&O SCI 103 - STEWART, A.L.",0.102,0.184,0.163,0.184,0.122,0.082,0.122,0.000,0.041,...,0.087,0.145,0.058,0.043,0.072,0.029,0.000,0.000,0.014,0.043
3,"A&O SCI 1L - BIANCHI, D.",0.667,0.111,0.056,0.056,0.056,0.000,0.000,0.000,0.056,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,"A&O SCI 2 - LEW, J.K.",0.000,0.109,0.040,0.059,0.396,0.059,0.050,0.178,0.020,...,0.000,0.048,0.048,0.143,0.143,0.048,0.048,0.000,0.048,0.048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3692,"WL ARTS C142 - SELLARS, P.M.",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3693,"WL ARTS C184 - FROOT, D.",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3694,"WL ARTS C242 - SELLARS, P.M.",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3695,"WL ARTS CM168 - ANDERSON-KOSOKO, J",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.077,0.077,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3696,"WL ARTS M23 - MAYS, K.T.",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.054,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [45]:
Falldata.to_csv('Fall_data.csv')